<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>Table</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <th scope="col">{{person.id}}</th>
            <td scope="col">{{person.name}}</td>
            <td scope="col">{{person.phone}}</td>
            <td scope="col">{{person.email}}</td>
            <td scope="col">
              <a routerLink="/editar/{{person.id}}" class="btn btn-primary">
                Editar
              </a>
            </td>
            <td scope="col">
              <a routerLink="/eliminar/{{person.id}}" class="btn btn-danger">
                Eliminar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <a routerLink="/crear" class="btn btn-success">
        Nuevo
      </a>
    </div>
    <div class="col-sm-4">
      <h1>JSON</h1>
      <pre id="json">{{json}}</pre>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
